<!DOCTYPE html>
<html>
<head>
  <title>hogwarts</title>
</head>
<body>
  <nav>
 <ul>
   <li>
     <a href=/student>All Students</a>
   </li>
   <li>
     <a href=/student/new>Create Student</a>
   </li>
 </ul>
</nav>
  <%= yield %>
</body>
</html>
